<%- include('../partials/header') %>
<h3>Edit Skill: <%= skill.skill %></h3>
<form action="/skills/<%=skill.id%>?_method=PUT" method="POST" autocomplete="off">
    <div class="form-group row">
        <input class="form-control" type="text" name="skill" value="<%=skill.skill%>">
    </div>
    <div class="form-group row">
        <label for="status">Status:</label>
        <select class="form-control" id="status" name="status">
            <option value="mastered">mastered</option>
            <option value="proficient">proficient</option>
            <option value="learning">learning</option>
            <option value="aware">aware</option>
        </select>
    </div>
    <div class="form-group row">
        <button class="btn btn-primary" type="submit">Save Skill</button>
    </div>
</form>

<%- include('../partials/footer') %>