<%- include('../partials/header')%>
    <h1>Developer Skills</h1>
    <h3>My Skills as of <%= time %></h3>
    <ul>
        <% skills.forEach(function(s) { %>
        <li>
            <a href="skills/<%= s.id %>"><%= s.skill%></a>
            <form action="/skills/<%= s.id%>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">x</button>
            </form>
        </li>
        <% }); %>
    </ul>
<%- include('../partials/footer')%>
