<%- include('../partials/header')%>
    <h1>Developer Skills</h1>
    <h5>Skills as of <%= time %></h5>
    <ul>
        <% skills.forEach(function(s) { %>
        <li>
            <a href="skills/<%= s.id %>"><%= s.skill%></a>
            <form action="/skills/<%= s.id%>?_method=DELETE" class="delete-form" method="POST">
                <button class="btn btn-outline-danger btn-sm" type="submit">x</button>
            </form>
        </li>
        <% }); %>
    </ul>
<%- include('../partials/footer')%>
